<input type="submit" value="Save">
{{#if _id}}<a class="btn btn-danger" id="delete-contact-btn">Delete</a>{{/if}}
<a href="#">I'd rather not {{#if _id}}update this{{else}}create a new {{/if}} contact.</a>